<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="rahulshettyacademy.testcomponents.Listener"/>
    </listeners>
    <test name="Error validations test">
        <classes>
            <class name="rahulshettyacademy.tests.ErrorValidationsTest"/>
        </classes>
    </test>
    <test name="Submit Order Test">
        <classes>
            <class name="rahulshettyacademy.tests.SubmitOrderTest"/>
        </classes>
    </test>
</suite>